.test {
    border: black, 1px, solid;
    color: red;
}

.white-text {
    color: white;
}

#title {
    background-color: #666555;
    padding-bottom: 15px;
}

#big-text {
    font-size: 60px;
}

.small-text {
    margin: 16px;
}

/* need 2 readjust later on... */
#section1 {
    display: flex;
    justify-content: center;
    padding: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    gap: 50px;
}

.image-text {
    color: black;
    font-size: 24px;
    margin-top: 16px;
}

.images {
    margin: auto;
    max-height: 300px;
    width: auto;
}

#buttons {
    display: flex;
    justify-content: center;
}

/* need 2 readjust later on... */
.button { 
    padding: 5px;
    font-weight: bold;
    background-color: #AAAAAA;
    margin-left: 30px;
    margin-right: 5px;
}

#section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 128px;
    margin-bottom: 128px;
    margin: 64px;
    gap: 64px;
}

#big-image {
    flex: 1;
    width: 800px;
    height: 400px;
    object-fit: cover;
    border-radius: 2.5%;
}

#p {
    font-size: 20px;
    text-align: justify;
}