.test {
    border: black, 1px, solid;
    color: red;
}

.white-text {
    color: white;
}

#title {
    background-color: #666555;
    padding-bottom: 15px;
}

#big-text {
    font-size: 60px;
}

.small-title {
    margin: 16px;
}

.small-text {
    font-size: 20px;
}

/* need 2 readjust later on... */
#section1 {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    gap: 50px;
}

.image-text {
    color: black;
    font-size: 24px;
    margin-top: 16px;
}

.images {
    margin: auto;
    max-height: 300px;
    width: auto;
}

.buttons {
    display: flex;
    justify-content: center;
}

/* need 2 readjust later on... */
.button { 
    padding: 5px;
    font-weight: bold;
    background-color: #AAAAAA;
    margin-left: 30px;
    margin-right: 5px;
}

#section2 {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    margin: 128px;
    gap: 64px;
}

#big-image {
    float: left;
    width: 800px;
    height: 400px;
    object-fit: cover;
    border-radius: 2.5%;
}

#p {
    overflow: hidden;
    text-align: justify;
    margin: auto;
    padding: 64px;
}

#section3 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#medium-text {
    font-size: 48px;
    margin-bottom: 100px;
}

.insight {
    max-width: 512px;
    gap: 32px;
}

.insight-text {
    padding: 50px;
}

#percent {
    font-size: 36px;
}

#read-more {
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #666555;
}

#scroll {
    padding: 50px;
}