.test {
    border: black, 1px, solid;
    color: red;
}

.white-text {
    color: white;
}

#title {
    background-color: #666555;
    padding-bottom: 15px;
}

#big-text {
    font-size: 60px;
}

#small-text {
    margin: 16px;
}

#section1 {
    display: flex;
    justify-content: center;
    padding: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.image-text {
    color: black;
    font-size: 24px;
    margin-top: 16px;
}

.images {
    border: grey, 1px, solid;
    margin: auto;
    width: auto;
    max-height: 300px;
}

#buttons {
    display: flex;
    justify-content: center;
}

.button {
    padding: 5px;
    font-weight: bold;
    background-color: #AAAAAA;
    margin-left: 30px;
    margin-right: 5px;
}

#section2 {
    margin: 128px;
    margin-left: 100px;
    margin-right: 50px;
}